<div>
&nbsp;
<div id="login-logout-link">
{{#if isLoggedIn}}
  Welcome {{ first_name }} {{ last_name }}, <a href="/accounts/logout/">Logout</a>
{{else}}
  <a href="/accounts/login/">Login</a> to see more robots
{{/if}}
</div>
{{#if thereAreOtherUsers}}
<div id="concurrency" }}>Also viewing: {{otherUserNames}}</div>
{{/if}}
</div>
