MOVE
    <table class="joypad">
			<tr>
			  <td></td>
			  <td><img src="static/img/go-forward.jpg" {{action moveForward target="controller"}}></div></td>
			  <td></td>
			</tr>
			<tr>
			  <td><img src="static/img/turn-left.jpg" {{action turnLeft target="controller"}}></div></td>
			  <td></td>
			  <td><img src="static/img/turn-right.jpg" {{action turnRight target="controller"}}></div></td>
			</tr>
			<tr>
			  <td></td>
			  <td><img src="static/img/go-backwards.jpg" {{action moveBack target="controller"}}></div></td>
			  <td></td>
			</tr>
		      </table>

