build
*.pyc
.project
.settings
*.swp
layer/local_settings.py
layer/static/images
.vagrant
layer2/server/server.db
layer2/server/server/local_settings.py
msg_gen
layer2/server/server.*.db
layer2/server/world.*.json
parser.out
parsetab.py
node_modules
