build
*.pyc
.project
.settings
*.swp
.vagrant
msg_gen
continuousop/django/server.db
continuousop/django/server/local_settings.py
continuousop/django/server.*.db
continuousop/django/world.*.json
parser.out
parsetab.py
node_modules
log
