# Build
build
*.pyc
msg_gen

# IDE (Eclipse, PyCharm, vim, ...)
.project
.settings
*.swp
.idea
*.iml

# Deployment
.vagrant

# Config and log files
continuousop/gunicorn.conf.py
continuousop/django/server.db
continuousop/django/server/local_settings.py
continuousop/django/server.*.db
continuousop/django/world.*.json
parser.out
parsetab.py
log

# Node.js
node_modules

