MOVE
    <table class="joypad">
			<tr>
			  <td></td>
			  <td><img id="move-forward" src="static/img/go-forward.jpg"></div></td>
			  <td></td>
			</tr>
			<tr>
			  <td><img id="turn-left" src="static/img/turn-left.jpg"</div></td>
			  <td></td>
			  <td><img id="turn-right" src="static/img/turn-right.jpg"</div></td>
			</tr>
			<tr>
			  <td></td>
			  <td><img id="move-back" src="static/img/go-backwards.jpg"></div></td>
			  <td></td>
			</tr>
		      </table>
