<div id="content">
  <div id="tab-container">
      <!-- The "content" parameter here is the robot object -->
      <ul>
        <li class="tabselected"><a> Navigate </a></li>
        <li><a {{action toTouch content}}> Touch </a></li>
        <li><a {{action toMarkers content}}> Markers </a></li>
      </ul>
  </div>

  <div id="main-container">
    <div class="content">

      <div class="robot_map">
      Tap on the map where you would like to go:

      {{outlet}}
      </div>

    </div>
  </div>
</div>
