PICK UP 

<div class="mybutton" {{action segmentAndRecognize target="controller"}}>Find objects</div><br>
{{#if selected_object}}
  <div class="mybutton" {{action pickupObject target="controller"}}>Pick up object</div><br>
{{else}}
  <div class="mybutton disabled"}}>Pick up object</div><br>
{{/if}}

