<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/static/js/libs/interactivemarkersjs/examples/interactive_markers.css">
  <script src="/static/js/libs/require.js" type="text/javascript" data-main="/static/js/main"></script>
  <title>Robots robots robots</title>
</head>
<body>

<div class="loading">
<span>Loading application ... please wait</span>&nbsp;<img src="/static/img/spinnerLarge.gif"/>
<p>Please be patient if this is your first time loading the application. We're downloading all sorts of magic spices for your browser. It will be worth the wait.</p>
</div>
</body>
</html>
