<launch>
    <!-- assumes Kinect frame names end in _rgb_optical_frame and _ir_optical_frame -->
    <arg name="kinect_frame_prefix" default="/head_mount_kinect" />  
    <arg name="kinect_camera_name" default="head_mount_kinect" />
    <arg name="stereo" default="false"/>
    <arg name="run_sim" default="false" />

    <!-- executer server -->
    <node pkg="smach_executer" type="executer" name="executer"/>

    <!-- PR2 plugs -->
    <include file="$(find pr2_plugs_actions)/launch/pr2_arm_ik.launch"/>
    <include file="$(find pr2_plugs_actions)/launch/plug_actions.launch">
        <arg name="run_sim" value="$(arg run_sim)" />
    </include>

    <group>
        <!-- navigation with a map -->
        <include file="$(find pr2_2dnav)/pr2_2dnav.launch"/>

        <!-- broadcast Willow's map -->
        <node name="map_server" pkg="map_server" type="map_server" 
            args="$(find willow_maps)/willow-sans-whitelab-2010-02-18-0.025.pgm 0.025" machine="c2" />
    </group>

</launch>

