<launch>
    <arg name="sim" default="false" />
    <arg name="im" default="false" />
    <arg name="launch_kinect" default="false" />

    <!-- executer server -->
    <node pkg="smach_executer" type="executer" name="executer"/>

    <!-- PR2 plugs -->
    <group unless="$(arg im)">
        <group unless="$(arg sim)">
            <include file="$(find pr2_plugs_actions)/launch/pr2_arm_ik.launch"/>
            <include file="$(find pr2_plugs_actions)/launch/plug_actions.launch"/>
        </group>
    </group>

    <group if="$(arg im)">
         <include file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_robot.launch">
              <arg name="launch_kinect" value="$(arg launch_kinect)" />
              <arg name="sim" value="$(arg sim)" />
              <arg name="throttle_cameras" value="false" />
              <arg name="nav" value="true" />
              <arg unless="$(arg sim)" name="plugs" value="true" />
              <arg if="$(arg sim)" name="plugs" value="false" />
              <arg name="wg" value="true" />
			  <!--arg name="im_debug" value="true" /-->
         </include>

	 <node pkg="interactive_marker_proxy" type="proxy" name="im_proxy">
              <remap from="topic_ns" to="/pr2_marker_control" />
              <remap from="target_frame" to="/base_link" />
         </node>
    </group>

    <group unless="$(arg im)">
        <!-- navigation with a map -->
        <include file="$(find pr2_2dnav)/pr2_2dnav.launch"/>

        <!-- broadcast Willow's map -->
        <node name="map_server" pkg="map_server" type="map_server" 
            args="$(find willow_maps)/willow-sans-whitelab-2010-02-18-0.025.pgm 0.025" machine="c2" />
    </group>

</launch>

