<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
<script type="text/javascript" src="/static/js/libs/handlebars.js"></script>
<script type="text/javascript" src="/static/libs/ember-1.0.pre.js"></script>
<script type="text/javascript" src="/static/libs/ember-data.js"></script>
<!--script type="text/javascript" src="/static/test/handlebars.js"></script>
<script type="text/javascript" src="/static/test/ember.js"></script>
<script type="text/javascript" src="/static/test/ember-data.js"></script-->
<script type="text/javascript" src="/static/testapp.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

<title>ember data</title>
</head>
<body>

</body>
</html>
