<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="/static/js/libs/jquery.js"></script>
<script type="text/javascript" src="/static/js/libs/handlebars.js"></script>
<script type="text/javascript" src="/static/libs/ember.js"></script>
<script type="text/javascript" src="/static/libs/ember-data-9e2d2b4ee33ee0ea8f1f81078803fef9556aa303.js"></script>
<script type="text/javascript" src="/static/testapp.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

<title>ember data</title>
</head>
<body>

</body>
</html>
