/* General settings */
body {
    font-family: Helvetica, Arial, Sans-Serif;
    margin-top: 0px;
}

a {
    color: #0000ff;
    text-decoration: underline;
    font-weight: bold;
	cursor: pointer;
}

/* For clickable buttons */
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* To draw rooms in the map */
.room {
    fill: #00ff00;
    opacity: 0.2;
}
.room:hover {
    fill: #0000ff;
}
.room.selected {
    fill: #ff0000;
}

/* To draw outlets in the map */
.outlet {
    opacity: 1;
}
.outlet:hover {
    outline: solid medium gray;
}
.outlet.selected {
    outline: solid medium gray;
}

/* To draw tables in the map */
.table {
    opacity: 1;
}
.table:hover {
    outline: solid medium gray;
}
.table.selected {
    outline: solid medium gray;
}

/* To draw robots in the map */
.chart .robot {
    fill: #0000ff;
    stroke: black;
}

/* Robot Lobby styles */
.heading {
    font-size: 30pt;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 8px;
}

.headingimg {
    /* The willow garage logo in the page header */
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 10px;
    vertical-align: middle;
}

.content_heading {
    font-size: 20pt;
}

.robot_list {
    width: 100%;
}

.robot {
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background: #b3ddf2;
    border-radius: 15px;
    width: 120px;
    float: left;
}

.robot .name {
    font-size: 12pt;
    font-weight: bold;
}

.robot .status {
    font-size: 10pt;
}

.loading {
    margin: 20px 20px 20px 20px;
}

/* Single robot view */
.header {
    position: relative;
}

.robot_map {
    margin: 0px 0px 0px 50px;
}

/* ---------------------------------------------------------------------- */
/* The brown robot info box at the top right of the screen */
.robot_info_container {
    position: absolute;
    top: 0px;
    right: 0px;
}
.robot_info {
    background: #ebdc9d;
    border-radius: 0px 0px 10px 10px;
}
.robot_info table {
    margin: 0px;
}
.robot_info table td {
    padding-left: 10px;
    padding-right: 10px;
}
.robot_info .disconnected {
    background-color: red;
    padding: 20px;
    display: block;
    border-radius: 0px 0px 10px 10px;
}

/* ---------------------------------------------------------------------- */
/* The login panel */
#login-logout-link {
    float: right;
    margin: 0px;
}
#concurrency {
    float: right;
    margin-right: 25px;
}

.tbd {
    font-style: italic;
    color: red;
}

.robot .ready,
.robot_info .ready {
    color: green;
}
.robot .disabled,
.robot_info .disbled {
    font-style: italic;
    color: gray;
}

/* ---------------------------------------------------------------------- */
/* The navigate view */

.placeinfo {
    margin-top: 50px;
}

.chart {
    margin: 20px 20px 20px 20px;
}

.chart_column {
    vertical-align: top;
}

/* ---------------------------------------------------------------------- */
/* Tabs in the left navigation bar */
#content
{
    background-color: #f2f2f2;
    padding: 20px 10px;
    /* TL: this causes extra right-margin space inside the tab box, I don't know why */
    /*   overflow: auto; */
}
#tab-container
{
    float: left;
    margin: 0;
    width: 126px;
}
#tab-container ul
{
    list-style: none;
    text-align: center;
}
#tab-container ul li
{
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 8px solid #666;
    background-color: #ddd;
    margin: 8px 0;

	/* To prevent click-and-drag from selecting text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#tab-container ul li a,
#tab-container ul li a:visited
{
    text-decoration: none;
    color: #666;
    display: block;
    /* This controls the height of the navbar tabs */
    padding: 30px 5px;
}
#tab-container ul li:hover
{
    border-left: 8px solid #333;
}
#tab-container ul li a:hover
{
    color: #000;
}
#tab-container ul li.tabselected
{
    border-right: none;
    background-color: #fff;
    border-left: 8px solid #08750C;
}
#main-container
{
    min-height: 400px;
    margin: 0 0 0 125px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #888;
}

/* ---------------------------------------------------------------------- */
/* Horizontal tabs */

.horiztabs {
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px;
	border-bottom: 1px solid gray;
}

.horiztabs li {
	list-style: none;
	display: inline;
	margin: 0;
}

.horiztabs li a {
	text-decoration: none;
	padding: 4px 0.5em;
	margin-right: 3px;
	border: 1px solid #778;
    border-top: 8px solid #666;
	border-bottom: none;
	background: #ddd;
    color: #666;

	/* To prevent click-and-drag from selecting text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.horiztabs li a:link, .horiztabs li a:visited {
}

.horiztabs li a:hover {
	color: black;
    border-top: 8px solid #333;
}

.horiztabs li a.current {
	background: white;
    border-top: 8px solid #08750C;
}

/* ---------------------------------------------------------------------- */
/* Buttons */

/* The "navigate" button on the navigate tab */
.navigate_button {
    margin-top: 50px;
    height: 60px;
    padding-top: 50px;
    text-align: center;
}

/* A custom button style made from scratch */
.mybutton {
    margin: 20px;
    padding: 10px;

    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);

    color: white;
    border-radius: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mybutton.disabled {
    background: gray;
}

.stopbutton {
    margin: 10px;
    padding: 10px;
    background: red;
    color: black;
    border-radius: 5px;
	border: 2px solid white;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ---------------------------------------------------------------------- */
/* Warnings and notices */

.warning {
    font-style: bold italic;
    color: red;
}

.notice {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.progress_update {
    text-align: right;
    background: #f2f2f2;
    padding: 2px;
}

/* Connection panel, displayed only when user hovers over it. */

#connection-panel {
    position: absolute;
    bottom: 5px;
    width: 50%;
    height: 25px;
}
#connection-panel p {
    color: grey;
    font-size: 10pt;
    font-style: italic;
}
#connection-panel .show-on-hover {
    display: none;
}
#connection-panel:hover .show-on-hover {
    display: block;
}

/* ---------------------------------------------------------------------- */

/* For the arrow-key keypad in the Move screen */
.joypad .mybutton {
    margin: 10px;
    padding: 5px;
}

/* ---------------------------------------------------------------------- */

/* For the pickup tab */
.recognized_object {
    stroke: #00ff00;
    stroke-width: 2;
    stroke-dasharray: 10, 10;
    fill: #00ff00;
    fill-opacity: 0.0;
}

.recognized_object.selected {
    stroke-dasharray: 1, 0;
}
