body {
   font-family: Helvetica, Arial, Sans-Serif;
}

a {
	color: #0000ff;
	text-decoration: underline;
	font-weight: bold;
}

/* For clickable buttons */
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/* To draw rooms in the map */
.room {
    fill: #00ff00;
    opacity: 0.2;
}
.room:hover {
    fill: #0000ff;
}
.room.selected {
	fill: #ff0000;
}

/* To draw outlets in the map */
.outlet {
    opacity: 1;
}
.outlet:hover {
    outline: gray solid;
}
.outlet.selected {
    outline: gray solid;
}

/* Robot Lobby styles */
.heading {
	font-size: 30pt;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 8px;
}

.headingimg {
	/* The willow garage logo in the page header */
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 10px;
	vertical-align: middle;
}

.content_heading {
	font-size: 20pt;
}

.robot_list {
	width: 100%;
}

.robot {
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	background: #b3ddf2;
	border-radius: 15px;
	width: 120px;
	float: left;
}

.robot .name {
	font-size: 12pt;
	font-weight: bold;
}

.robot .status {
	font-size: 10pt;
}

.loading {
	margin: 20px 20px 20px 20px;
}

/* Single robot view */
.robot_map {
	margin: 0px 50px 0px 50px;
}

/* The brown robot info box at the top right of the screen */
.robot_info_container {
	position: absolute;
	top: 0px;
	right: 20px;
}
.robot_info {
	background: #ebdc9d;
	border-radius: 0px 0px 10px 10px;
}
.robot_info table {
	margin: 0px 20px 10px 20px;
}
.robot_info table td {
	padding-left: 20px;
	padding-right: 20px;
}

/* The login panel */
#login-logout-link {
	float: right;
	margin: 0px;
}

.tbd {
	font-style: italic;
	color: red;
}

.placeinfo {
	margin-top: 50px;
}

.chart {
	margin: 20px 20px 20px 20px;
}

.chart_column {
	vertical-align: top;
}

.navigation_button {
	float: right;
	width: 40px;
}

/* For the left navigation bar */
#content
{
   background-color: #f2f2f2;
   padding: 20px 10px;
   overflow: auto;
}
#tab-container
{
   float: left;
   margin: 0;
   width: 126px;
}
#tab-container ul
{
   list-style: none;
   text-align: center;
}
#tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 8px solid #666;
   background-color: #ddd;
   margin: 8px 0;
}
#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 100px 5px;
}
#tab-container ul li:hover
{
   border-left: 8px solid #333;
}
#tab-container ul li a:hover
{
   color: #000;
}
#tab-container ul li.tabselected
{
   border-right: none;
   background-color: #fff;
   border-left: 8px solid #08750C;
}
#main-container
{
   min-height: 400px;
   margin: 0 0 0 125px;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #888;
}


/* Old left navbar */

.plugcontent {
	text-align: center;
	font-size: 36pt;
}

.navigate_button {
	margin-top: 50px;
	height: 60px;
	padding-top: 50px;
	text-align: center;
}

.mybutton {
	margin: 20px;
	padding: 10px;
	background: blue;
	color: white;
	border-radius: 25px;
}

/* Warnings and notices */
.notice {
	border: 1px solid;
	text-align: center;
	padding: 10px;
}
