<table width="90%">
<tr>
<td> <div class="chart" id="floorplan-div"></div> </td>

<td class="chart_column">
    <div>
      <div class="placeinfo">Selected location:<br>
        <span id="placename">&nbsp;</span></div>
      <div class="placeinfo">Estimated time:</b><br>
        <span class="tbd" id="distance">unknown</span></div>
    </div>

    <div class="navigate_button button" {{action navigateTo}}>Go!</div>
</td>
</tr>
</table>
