<table>
<tr><td>
<div class="chart" id="floorplan-div"></div>
</td>
<td valign="top">
<div class="placeinfo" style="margin-left: 50px;">
  <div><b>Place name:</b> <span id="placename"></span></div>
  <div><b>Distance:</b> <span id="distance"></span></div>
</div>
</td></tr>
</div>
</table>
