<div class="left_navbar">
    <!-- The "content" parameter here is the robot object -->
    <div class="navtab" {{action navigate content}}> Navigate </div>
    <div class="navtab navtab_selected"> Plug </div>
</div>

<div class="heading">Unplugging in progress</div>

<table border=1>
  <tr>
    <td><img width=400 height=300 {{bindAttr src="robot.camera_url"}}></td>
    <td><img width=400 height=300 {{bindAttr src="robot.forearm_camera_url"}}></td>
  </tr>
</table>

