<div class="left_navbar">
    <!-- The "content" parameter here is the robot object -->
    <div class="navtab" {{action navigate content}}> Navigate </div>
    <div class="navtab navtab_selected"> Plug </div>
</div>

<div>
<div class="content plugcontent">
{{#if plugged_in}}
<div>Currently plugged in</div>

<div class="mybutton">Unplug</div>

{{else}}

<div>Not plugged in</div>

<div class="mybutton">Plug in</div>
{{/if}}

</div></div>
