<div class="heading"><img src="static/img/wg-logo.png" class="headingimg"> Robot Lobby</div>

<div class="content_heading">My robots</div>

<div class="robot_list">
{{#if content.isLoaded}}
	{{#each robot in content}}

		<div class="robot" {{action showRobot robot}}> 
			<img {{bindAttr src="robot.image"}} width="100"><br>
			<span class="name">{{robot.name}}</span><br>
			<span class="status">Idle</span><br>
		</div>

	{{/each}}
{{else}}
	<div class="loading">
		<img src="static/img/spinnerLarge.gif"><br>
		Loading...
	</div>
{{/if}}
</div>

